body {
    font-family:"Averia Libre", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster Two", cursive;
}

h2 {
    color:pink ;
}

header h2 {
    color:yellow ;
}

.jumbotron {
    margin: 0;
    padding: 15px;
    background-color: pink;
}

.navbar {
    background-color: pink;
}

.video-container {
    z-index: -100;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
}

#video-bg {
    width: 100%;
}

.container-fluid {
    width: 100%;
}